<!-- Main news browsing service view.-->

<div style="text-align:center">
  <div id="userInputDiv">
    <p>Wybierz odpowiednią kategorię:</p>
    <select [(ngModel)]="category"> 
      <option value="business">biznes</option>
      <option value="general">ogólne</option>
      <option value="science">nauka</option>
      <option value="entertainment">rozrywka</option>
      <option value="sports">sport</option>
      <option value="technology">technologia</option>
      <option value="health">zdrowie</option>
    </select><br />
    <br />
    <button (click)="fetchNews(category)" type="submit">Zatwierdź</button>
  </div>
</div>
  <hr>
  <div id="fetchedNewsDiv" style="text-align:left" *ngIf="fetchNewsResponse">
    <p>Kraj: {{fetchNewsResponse.country}}</p>
    <p>Kategoria: {{fetchNewsResponse.category}}</p>
    <div id="articlesDiv" *ngFor="let article of fetchNewsResponse.articles">
        <table>
          <tr>
            <td>Autor: {{article.author}}</td>
          </tr>
          <tr>
              <td>Tytuł: {{article.title}}</td>
          </tr>
          <tr>
            <td>Opis: {{article.description}}</td>
          </tr>
          <tr>
              <td>Data: {{article.date}}</td>
          </tr>
          <tr>
              <td>Nazwa źródła: {{article.sourceName}}</td>
          </tr>
          <tr>
              <td>Link artykułu: {{article.articleUrl}}</td>
          </tr>
          <tr>
              <td><img src="{{article.imageUrl}}"/></td>
          </tr>  
        </table>
    </div>      
</div>
