<div style="text-align:center">
  <div id="userInputDiv">
    <p>Wybierz odpowiednią kategorię:</p>
    <select [(ngModel)]="category"> 
      <option value="business">biznes</option>
      <option value="general">ogólne</option>
      <option value="science">nauka</option>
      <option value="entertainment">rozrywka</option>
      <option value="sports">sport</option>
      <option value="technology">technologia</option>
      <option value="health">zdrowie</option>
    </select><br />
    <br />
    <button (click)="fetchNews(category)" type="submit">Zatwierdź</button>
  </div>
</div>
  <hr>
  <div id="fetchedNewsDiv" style="text-align:left" *ngIf="fetchNewsResponse">
    <p>Kraj: {{fetchNewsResponse.country}}</p>
    <p>Kategoria: {{fetchNewsResponse.category}}</p>
  </div>
